.container {
    display: flex;
}

.page-title {
    text-align: center;
    font-weight: bold;
}

.image-container {
    text-align: center;
}

.realtor-home-image {
    width: 70%;
    height: 60vh;
    border-radius: 10px;
}

.form-container {
    display: block;
}