.continue-google {
  background-color: rgb(231, 44, 44);
  border: none;
  color: #fff;
  padding: 10px 0px;
  width: 92.5%;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
}

.continue-google:hover {
  background-color: rgb(217, 42, 42);
}

.continue-google:active {
  background-color: rgb(207, 41, 41);
}
